#div1 {
    background-color: powderblue;
    border: 5px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
}
#div2 {
    background-color: lavender;
    border: 5px solid black;
    border-radius: 5px;
}
#div3 {
    background-color: lightpink;
    border: 5px solid black;
    margin-top: 10px;
    border-radius: 5px;
}

#section1 {
    background-color: powderblue;
    border: none;
    cursor: pointer;
    width: 270px;
}
#section2 {
    background-color: lavender;
    border: none;
    cursor: pointer;
    width: 270px;
}
#section3 {
    background-color: lightpink;
    border: none;
    cursor: pointer;
    width: 270px;
}
#section4 {
    background-color: white;
    cursor: pointer;
    width: 270px;
}


body{
    font-family: 'Barrio'; font-size: 24px;
}
